{
  "root": true,
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "react",
     "jsx-a11y",
     "import"
  ],
  "globals": {
    "ga": true, # google analytics
    "__DEV__": true,
    "isBrowser": true,
  },
  "env": {
    "browser": true
  },
  "rules": {
    "one-var": "off",
    "no-underscore-dangle": ["error", { "allow": ["__INITIAL_STATE__"] }],
    "class-methods-use-this": "off",
    # "generator-star-spacing": "off",
    # "import/no-extraneous-dependencies": "off",
    # "react/forbid-prop-types": "off",
    "react/jsx-filename-extension": "off",
    # "react/no-danger": "off",
    # "react/no-unused-prop-types": "off",
    # "react/prefer-stateless-function": "off",
    "react/require-extension": "off"
  }
}
