
.icon-cancel:before { content: '\e800'; } /* '' */
.icon-left-open:before { content: '\e801'; } /* '' */
.icon-right-open:before { content: '\e802'; } /* '' */
.icon-left-circle:before { content: '\e803'; } /* '' */
.icon-right-circle:before { content: '\e804'; } /* '' */
.icon-resize-full:before { content: '\e805'; } /* '' */