{
  "hostname": "http://localhost:3001",
  "apiEndpoint": "http://localhost:3000",
  "staticEndpoint": "http://localhost:3002",
  "analytics": false,
  "title": "PHOTO.AWESOMESTUFF.IN",
  "locales": ["ru", "en"],
  "fallbackLocale" : "en",
  "gutter": 10,
  "brickWidth": 100,
  "transition": 200,
  "gallery": {
    "width": 320,
    "height": 240
  },
  "photo": {
    "width": 1920,
    "height": 1080
  }
}
