dist*
static/tmp/
static/combined/
static/cache/
config/client_session_key.aes
*.hi
*.o
*.sqlite3
.hsenv*
.idea
cabal-dev/
.stack-work/
yesod-devel/
.cabal-sandbox
cabal.sandbox.config
.DS_Store
*.swp
*.keter
exif.json
aws-photo-service.cabal
