{
  "sourceMaps": true,
  "presets": [
    "react",
    "node6",
    "es2015-minimal"
  ],
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread"
  ],
  "env": {
    "node": {
      "plugins": [
        [
          "babel-plugin-transform-require-ignore",
          {
            "extensions": [".less", ".sass", "css"]
          }
        ]
      ]
    }
  }
}
