@import '~style/var';

.content > .gallery {
  padding-top:  @divisor / 4;
  position: relative;
  overflow: visible !important;

  & > ul {
    opacity: 1;
    transition: opacity 0.2s ease-out;

    &.loading {
      opacity: 0.1;
    }
  }

  &.nav {
    padding-top: 2 * @divisor + @divisor / 4;
  }

  .brick {
    display: block;
    outline: 2px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: outline-color 0.2s ease-out;
    background-position: center;
    background-size: cover;
    display: block;
    float: left;
    height: 100%;

    &:hover {
      outline-color: @accent;
    }
  }
}

.ps-container {
  .ps-scrollbar-y-rail {
    border-radius: 0 !important;
    .ps-scrollbar-y {
      border-radius: 0 !important;
    }
  }
}
