@import "../../../client/src/style/var.less";

@import url('https://fonts.googleapis.com/icon?family=Material+Icons#.css');

html, body, body > div, #app {
  width: 100%;
  height: 100%;
}

button.material-icons {
  margin: 0;
  padding: 2px;
  display: inline-block;
  border: none;
  background: none;
  color: white;
  cursor: pointer;

  &:hover {
    background-color: lighten(@grey, 30%);
  }
}

header.main {
  background-color: @grey-light;
  color: @light-grey;
  margin: 0;
  padding: @divisor / 2;
  border-bottom: 1px solid black;

  h1 {
    font-weight: normal;
    margin: 0;
    display: inline-block;
    color: @accent;
  }

  .tools {
    right: @divisor;
    float: right;
  }
}

form.create {
  line-height: @divisor;
  padding: 0 @divisor;
  width: 100%;
  box-sizing: border-box;
  display: flex;

  select {
    margin-right: 2px;
  }

  input {
    flex: 100%;
  }

  button, input[type="submit"] {
    flex: 1;
    margin-left: 2px;
  }
}

.admin {
  width: 100%;
  height:100%;
  margin: auto;
  position:relative;
  overflow: auto;
  display: flex;

  main {
    flex: 100%;
    overflow: auto;

    .toolbox {
      padding: @divisor / 2;
      background: lighten(@grey, 20%);
      color: @white;
      font-size: 14pt;

      .tools {
        float: right;
        font-size: 18px;
      }

      span.show-hidden {
        cursor: pointer;
        margin-left: @divisor;
        &.active {
          background: black;
        }
      }
    }

    .content {
      color: @light-grey;
      padding: @divisor / 2;
    }
  }

  .aside {
    flex: 20%;
    padding: @divisor 0;
    background: @grey-light;
    color: @light-grey;
    border-right: 1px solid black;

    h2 {
      font-weight: normal;
      color: white;
      line-height: 18px;
      margin: 0 0 @divisor 0;
      padding: 0 @divisor;

      i {
        float: right;
        cursor: pointer;

        &.active {
          background-color: @accent;
        }
        &:hover {
          background-color: fade(white, 10%);
        }
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        padding: 2px @divisor;
        cursor: pointer;
        // height: 28px;
        display: block;
        overflow: hidden;

        button {
          float: left;

          &[disabled] {
            color: grey;
          }
        }

        ul.childs {
          margin-left: 28px;
          li {
            padding: 0px;
          }
        }

        a {
          line-height: 28px;
          display: inline;

          &:hover {
            background: lighten(@grey-light, 10%);
          }
        }

        .tools {
          float: right;
        }

        .category {
          display: inline;
          line-height: 28px;
        }

        .category--hovered {
          background: greenyellow;
          cursor: pointer;
        }

        .isHidden {
          opacity: 0.5;
        }

        &.active {
          color: black;
          background: @light-grey;
        }
      }
    }
  }

  .photos {
    overflow: auto;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    .upload {
      flex: 1 100%;

      &.hovered {
        background: greenyellow;
        cursor: pointer;
      }

      ul {
        align-items: stretch;
        padding: @divisor;

        li.upload-file {
          padding: @divisor / 4;
          background: @grey-light;
          margin-bottom: @divisor / 4;
          line-height: 24px;
          color: @light;
          display: flex;
          box-sizing: border-box;
          height: 32px;

          & > span {
            margin: 0 @divisor / 4;
          }

          .progress {
            display: inline-block;
            background-color: lighten(@grey-light, 10%);
            flex: 100%;
            box-sizing: border-box;

            .bar {
              background-color: @accent;
              position: relative;
              display: block;
              overflow: hidden;
              height: 22px;
              box-sizing: border-box;
            }
          }
        }
      }
    }

    .photo {
      float: left;
      margin: 0 @divisor / 2 @divisor / 2 0;
      position: relative;

      &.dragging {
        opacity: 0.5;
      }

      &.photo--hovered {
        outline: 2px solid greenyellow;
      }

      &.selected {
        outline: 2px solid rgba(255,255,255,1);
      }

      &.isHidden {
        img { opacity: 0.3; }
      }
      .views {
        position: absolute;
        top: @divisor / 2;
        left: @divisor / 2;
        width: @divisor / 2;
        height: @divisor / 2;
        color: white;
        text-shadow:
          -1px -1px 0 black,
          1px -1px 0 black,
          -1px 1px 0 black,
          1px 1px 0 black;
      }

      .translation {
        position: absolute;
        top: @divisor / 2;
        right: @divisor / 2;
        z-index: 10;
      }

      .parent {
        position: absolute;
        top: @divisor / 2;
        right: @divisor / 2;
        width: @divisor / 2;
        height: @divisor / 2;
        outline: 1px solid @accent;
        background: yellow;
        z-index: 10;
      }

      .featured {
        color: yellow;
        position: absolute;
        top: @divisor / 2;
        left: 30px;
        width: @divisor / 2;
        height: @divisor / 2;
      }

      .group {
        position: absolute;
        bottom: @divisor / 2;
        left: @divisor / 2;
        width: @divisor;
        height: @divisor;
        outline: 1px solid rgba(255,255,255,1);
        z-index: 10;

        &:hover {
          outline: 2px solid rgba(255,255,255,1);
        }
      }
    }
  }
}
