@import '@app/var';

.home {

  & > ul {
    flex: 1 0 auto;
    padding: $divisor;

    & > li {
      max-width: 50%;
      min-width: 340px;
      float: left;
      box-sizing: border-box;
      margin-bottom: $divisor / 2;

      .gallery {
        overflow: hidden;
        padding: 2px;
      }


      h3 {
        margin: 0 0 $divisor /4 0;
      }

      a.cover {
        float: left;
        display: block;
        outline: 2px solid rgba(0, 0, 0, 0);
        cursor: pointer;
        transition: outline-color 0.2s ease-out;
        position: relative;
        margin-bottom: 0.5em;
        margin-right: $divisor;

        span.sub {
          width: 100%;
          color: $light;
          padding: $divisor / 4;
          position: absolute;
          bottom: 0;
          left: 0;
          background: fade($grey, 60%);
          box-sizing: border-box;
        }

        &:hover {
          outline-color: $accent;
        }
      }

      aside {
        float: left;
        color: $light-grey;
        min-width: 320px;

        li a {
          line-height: $divisor;
        }
      }
    }
  }
}
