.body > .gallery {
  padding-top: 2 * @divisor + @divisor / 4;
  position: relative;

  .brick {
    display: block;
    outline: 2px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: outline-color 0.2s ease-out;
    background-position: center;
    background-size: cover;
    display: block;
    float: left;
    height: 100%;

    // & > a {
    //   overflow: hidden;
    //   display: block;
    // }

    &:hover {
      outline-color: @accent;
    }
  }
}

.ps-container {
  .ps-scrollbar-y-rail {
    border-radius: 0 !important;
    .ps-scrollbar-y {
      border-radius: 0 !important;
    }
  }
}
