{
  "sourceMaps": true,
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      },
      "useBuiltIns": true,
    }]
  ],
  "plugins": [
    "transform-runtime",
    "transform-object-rest-spread"
  ],
}
