@import "var";

@footer-size: 2.5 * @divisor;

.main {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-top: 71px;

  &.main {
    padding-top: 98px;
  }

  &.not-found {
    footer {
      position: absolute;
      bottom: @divisor / 2;
      left: 0;
      right: 0;
    }
  }

  & > .content {
    padding: @divisor / 2 @divisor 0 @divisor;
    color: @light-grey;
    width: 100%;
    min-height: 100%;
    overflow: auto;
    box-sizing: border-box;
    margin-bottom: -@footer-size;
    position: relative;

    // & > .gallery, .galleries, .page {
    //   min-height: 100%;
    //   box-sizing: border-box;
    //   margin-bottom: -@footer-size;
    //   overflow: hidden;
    //
    //   &:after {
    //     content: "";
    //     height: @footer-size;
    //     display: block;
    //   }
    // }

    &:after {
      content: "";
      height: @footer-size;
      display: block;
    }

    & > .static {
      color: @light-grey;
    }
  }
}
